<launch>
	<arg name="use_xacro" default="false" />
	<arg name="gui" default="true" />
	<arg name="use_robot_state_publisher" default="true" />
	<arg name="use_new_xacro" default="false" />
	<arg name="use_new_urdf" default="false" />
	<arg name="accept_clock" default="false" />

	<arg if="$(arg use_xacro)" name="filename" default="robot.xacro" />
	<arg unless="$(arg use_xacro)" name="filename" default="robot.urdf" />
	<arg if="$(arg use_new_xacro)" name="filename" default="new.xacro" />
	<arg if="$(arg use_new_urdf)" name="filename" default="new.urdf" />

	<arg name="file" default="$(find lab4_package)/urdf/$(arg filename)" />
	<param if="$(arg use_xacro)" name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg file)" />
	<param else="$(arg use_xacro)" name="robot_description" textfile="$(arg file)" />
	<node if="$(arg use_robot_state_publisher)" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

	<node if="$(arg accept_clock)" pkg="rviz" type="rviz" name="rviz" args="-d $(find lab4_package)/config/config2.rviz" required="true"/>
	<node unless="$(arg accept_clock)" pkg="rviz" type="rviz" name="rviz" args="-d $(find lab4_package)/config/config2.rviz" required="true"/>

        <param if="$(arg gui)" name="use_gui" value="$(arg gui)"/>
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher1" args="0 0.365 0.2 -1.57 0 0 base base_wheel_left"/> 
	<node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher2" args="0 -0.365 0.2 -1.57 0 0 base base_wheel_right"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher3" args="0 -0.365 0.2 -1.57 0 0 base base_wheel_center"/>
</launch>
